# Eocene creator configuration file
dirs:
  # input and output ECE4 directories
  input: /lus/h2resw01/hpcperm/ccpd/ECE4-DATA-V2
  output: /lus/h2resw01/hpcperm/ccpd/EOCENE-TEST
  # Herold Deepmip data
  herold: /lus/h2resw01/hpcperm/ecme3497/herold-et-al-2014/Supp
  # PALEORCA2 eocene configuration
  domain: /lus/h2resw01/hpcperm/ccpd/ECE4-DATA-EOCENE/nemo/domain/PALEORCA2
  # HACK: folder for rstos.nc which is the only one working so far
  oasisdir: /lus/h2resw01/hpcperm/ccpd/HOLY-RSTOS
  # Temporary directory, not used yet
  tmpdir: /lus/h2resw01/hpcperm/ccpd/eocene_tmp
